<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Internets Treasure Chest</title>
    <link href="public_modules/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="public_modules/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
    <script src="public_modules/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-top" data-bs-offset="0" tabindex="0">
    <header class="fixed-top">
        <nav id="navbar-top" class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="ressources/TreasureChest.png" alt="Logo" width="60" height="43" class="d-inline-block">
                    The Internets Treasure Chest
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="ms-auto navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#treasurechest">Treasure Chest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#more">More</a>
                            <!--<a class="nav-link dropdown-toggle" href="#more" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu mb-2">
                                <li><a class="dropdown-item" href="#newsletter">Newsletter</a></li>
                                <li><a class="dropdown-item" href="#suggestions">Suggest a Treasure</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#more">Imprint</a></li>
                                <li><a class="dropdown-item" href="#more">Privacy</a></li>
                                <li><a class="dropdown-item" href="#more">Third-party software</a></li>
                            </ul>-->
                          </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main style="margin-top: 70px;"> <!--adjust to height of Navbar-->
        <div class="container">

            <section id="treasurechest" class="pt-3 pb-5">
                <h2 class="pb-5 visually-hidden">Treasure Chest</h2> <!--Set to be invisible, but still included to not break h hierarchy-->

                <!--<div class="card p-3 mb-2">
                    <div class="row">-->
                        <!-- Sort/Show by Category --><!--
                        <div class="col-md-4">
                            <label class="form-label">Show Treasures sorted by category:</label>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="btnradio1">Topics</label>
                
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio2">Types</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio3">Tags</label>
                
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio4">Flags</label>
                            </div>
                        </div>-->
                
                        <!-- Search --><!--
                        <div class="col-md-8">
                            <label class="form-label">Search Treasures:</label>
                            <form role="search">
                                <div class="input-group" role="group">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-primary" type="submit">Search</button>
                                </div>
                                <div class="container mt-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Topics" checked>
                                        <label class="form-check-label" for="inlineCheckbox1">Topics</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Types" checked>
                                        <label class="form-check-label" for="inlineCheckbox2">Types</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Tags" checked>
                                        <label class="form-check-label" for="inlineCheckbox3">Tags</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Descriptions" checked>
                                        <label class="form-check-label" for="inlineCheckbox4">Descriptions</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>-->
                
                    <!-- Expandable Further Filters --><!--
                    <div class="text-center mt-3">
                        <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#furtherFilters"
                            aria-expanded="false" aria-controls="furtherFilters">
                            Show More Filters
                        </button>
                    </div>
                
                    <div class="collapse mt-3" id="furtherFilters">
                        <div class="card card-body">-->

                            <!--Filter Ropics & Subtopics--><!--
                            <label class="form-label">Topics & Subtopics:</label>
                            <div id="Filters-Topics-Container" class="container">

                            </div>-->

                            <!--Filter Types & Subtypes--><!--
                            <label class="form-label mt-3">Types & Subtypes:</label>
                            <div id="Filters-Types-Container" class="container">
                                
                            </div>-->

                            <!--Filter Tags--><!--
                            <label class="form-label mt-3">Tags:</label>
                            <div id="Filters-Tags-Container" class="container">

                            </div>-->

                            <!--Filter Flags--><!--
                            <label class="form-label mt-3">Flags:</label>
                            <div id="Filters-Flags-Container" class="container">

                            </div>
                        </div>
                    </div>
                </div>-->
                

                <div id="topics-container">
                    <!--<h3>Topics</h3>-->
                    <ul class="list-group">
                        <!--Main Topics-->
                        #{TOPICS}#
                    </ul>
                </div>

                <!--<div id="Types-container">

                </div>

                <div id="Tags-container">

                </div>

                <div id="Flags-container">

                </div>-->

            </section>
            

            <section id="about" class="pb-5">
                <h2>About</h2>
                <p>
                    I started keeping this list because my bookmarks in the browser have simply become too cluttered and I have often
                    received comments like ‘How do you always find such cool videos/websites?’. Honestly, I can't really answer this 
                    question, but for everyone else: Here you go, a list of all my favourite free, interesting
                    and entertaining websites. 	
                </p>
                <p><b>Please note the information below:</b></p>
                <ul>
                    <li>This is a private hobby project. I do not claim to list *every* great resource here.</li>
                    <li>I cannot guarantee that all links will work forever, I cannot vouch for the safety, usefulness, timeliness, 
                        etc. of the linked resources.</li>
                    <li>There is no advertising here, and no content is sponsored. All content has been selected because I personally 
                        like it, find it useful or entertaining. The content is therefore naturally based on my personal interests. 
                        But maybe there's something here that you'll like.</li>
                    <li>That is why you will also find content that I have created myself. These are transparently flagged as 
                        “shameless-self-plug”.</li>
                </ul>

            </section>

            <section id="more" class="pb-5">
                <h2>More Stuff</h2>
                <p>(*・‿・)ノ⌒*:･ﾟ✧ There's more planned for the future:  filters, a search function, a newsletter, a feature that lets you suggest a new treasure, ... ✧ﾟ･:⌒ヽ(・‿・*)</p>
                <!--<section id="newsletter" class="pb-5">
                    <h3>Get the Newsletter</h3>
                </section>-->
                <!--<section id="suggestions" class="pb-5">
                    <h3>Suggest a new Treasure</h3>
                </section>-->
                <!--<section id="third_party_software" class="pb-5">
                    <h3>Third-Party Software</h3>
                </section>-->
            </section>

        </div>
    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <a href="#" class="position-fixed bottom-0 end-0 mb-3 me-3 button-primary" style="font-size: 2rem;">
                <i class="bi bi-arrow-up-circle-fill"></i>
            </a>
        </div>
        <div class="container">
            <p class="text-center">Copyright (c) 2025 Leon Rosenplaenter. Assembled using node.js, <a href="https://github.com/twbs/bootstrap" target="_blank">Bootstrap</a> and <a href="https://github.com/twbs/icons" target="_blank">Bootstrap Icons</a>. Hosted on GitHub.</p>
        </div>
    </footer>
    
    <!--<script src="index.js"></script>-->
</body>
</html>
